# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Data and outputs
data/
!data/README.md

# Model outputs, logs, experiments
outputs/
experiments/
logs/

# Ignore extracted frames
*_frames/

# Ignore config secrets
*.secret.yaml
